* {
  margin: 0px;
  font-family: Verdana;
}

.span {
  font-weight: bold;
}

/* header */

header {
  height: 250px;
  background-image: url(./images/banner.gif);
  background-color: rgba(250, 250, 250);
  background-size:contain;
  background-repeat: no-repeat;
  font-size: 50px;
  text-align: end;
}

header h2 {
  padding: 80px;
}

/* buttons */
.button {
  border-radius: 4px;
  background-color: #207420;
  border: none;
  color: #FFFFFF;
  text-align: center;
  cursor: pointer;
  padding: 10px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 100%;
}

.e_button {
  display: inline-block;
  border-radius: 4px;
  background-color: #207474;
  border: none;
  color: #FFFFFF;
  text-align: center;
  cursor: pointer;
  padding: 3px;
}

.thewindow {
  display: none;
  max-width: 500px;
}

/* table */
table {
  width: 100%;
  text-align: center;
  padding: 50px;
}

tbody tr:hover {
  background-color: rgba(0, 0, 0, .075);
}

td {
  padding: 10px;
}